<h1>Welcome back!</h1>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>User ID:</td>
            <td><i class="icon-user"></i>{{user.id}}</a></td>
        </tr>   
        <tr>
            <td>Name:</td>
            <td><i class="icon-user"></i>{{user.name}}</a></td>
        </tr>   
        <tr>
            <td>Email:</td>
            <td><i class="icon-home"></i>{{user.email}}</td>
        </tr>
        <tr>
            <td>Permissions:</td>
            <td><i class="icon-headphones"></i>{{user.role}}</td>
        </tr>
    </tbody>
</table>
